* {
  box-sizing: border-box;
}

:root {
  --default-padding: 26px;
  --white: white;
  --black: black;
  --orange: #FF8C38;
  --light-clay: #FFCC8D;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 100vh;
  background-color: #FFF7ED;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

main {
  width: 100%;
  max-width: 770px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* display: grid;
  grid-template-rows: 110px 1fr 75px;
  grid-template-areas: header main footer; */
  background-color: whitesmoke;
}

.grow-section {
  flex: 1;
}

.is-active {
  font-weight: bold !important;
  text-decoration: underline !important;
  color: #161616 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.big-button {
  border: none;
  width: 100%;
  text-decoration: none;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  font-family: 'Inter';
  font-style: normal;
}

.small-button {
  border: none;
  width: 80px;
  height: 30px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #FFEAD0;
  text-transform: capitalize;
  font-family: 'Inter';
  font-style: normal;
}

/* HEADER */

header {
  height: 110px;
  padding: 0px var(--default-padding);
  border-bottom: 1px solid #e7e5e5;
  /* grid-area: header; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header-title {
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: var(--black);
}

.header-title a {
  text-decoration: none;
  color: var(--black);
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #4D4D4D;
}

.nav-links a:hover,
.nav-links a:focus,
.nav-links a:active {
  text-decoration: underline;
}

/* FOOTER */

footer {
  /* grid-area: footer; */
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #252525;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #AAAAAA;
  padding: 0 var(--default-padding);
}

footer a {
  /* text-decoration: none; */
  color: #AAAAAA;
}

/* ERROR PAGE */

.error-page {
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: var(--default-padding);
}

.error-page a {
  background-color: var(--black);
}

/* HOME PAGE*/

.home-section {
  padding: 0 var(--default-padding);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url('./assets/home-hero.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: calc(100vh - 185px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  color: var(--white);
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.home-section button {
  font-family: 'Inter';
  border: none;

}

.home-section a {
  background: var(--orange);
}

/* ABOUT PAGE */

.about-hero {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-hero-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  -o-object-position: center;
  object-fit: cover;
  object-position: center;
}


.about-content {
  padding: 50px var(--default-padding);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about-content h1,
.about-content p {
  margin: 0;
}

.about-main-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-sub-content {
  padding: var(--default-padding);
  background: var(--light-clay);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-sub-content h2 {
  margin: 0;
}

.about-sub-content a {
  width: 175px;
  background: #161616;
  border-radius: 10px;
}

/* VANS PAGE */

.vans-page-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 55px var(--default-padding);
}

.vans-page-header {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.vans-filters {
  display: flex;
  align-items: start;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}

.vans-filter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.vans-filter-buttons button {
  background: #FFEAD0;
  color: #4D4D4D;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.vans-clear-filters-button {
  border: none;
  white-space: nowrap;
  background: none;
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #4D4D4D;
  cursor: pointer;
}

.filtered-by {
  color: #4D4D4D;
  font-style: italic;
  font-size: 14px;
  height: 9px;
}

.vans-cards {
  display: grid;
  grid-template: auto auto / 1fr 1fr;
  gap: 30px;
}

/* @media screen and (min-width:768px) {
  .vans-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .van-card {
    width: 230px !important;
    height: 300px;
  }

  .van-card p {
    font-size: 20px;
  }
} */

.van-card {
  /* width: 100%; */
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.van-card p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #161616;
}

.van-card-image {
  position: relative;
  width: 100%;
}

.van-card-image span {
  position: absolute;
  right: 10px;
  top: 10px;
}

.van-card img {
  width: 100%;
  /* height: 230px; */
  object-fit: cover;
  border-radius: 5px;
  border: none;
}

.van-card-details {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.van-card-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.van-card-pricing {
  text-align: right;
}

.van-card-pricing span {
  font-size: small;
}

.van-type-simple,
button.van-type-simple {
  background-color: #E17654;
  color: #FFEAD0;
}

.van-type-rugged,
button.van-type-rugged {
  background-color: #115E59;
  color: #FFEAD0;
}

.van-type-luxury,
button.van-type-luxury {
  background-color: #161616;
  color: #FFEAD0;
}

/* VAN DETAILS PAGE */

.van-details-section {
  padding: 40px var(--default-padding);
}

.van-details-breadcrumb {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #201F1D;
}

.van-details-section img.van-image {
  object-fit: cover;
  width: 100%;
  /* max-height: 490px; */
  border-radius: 10px;
}

.van-details {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.van-details>h1 {
  margin-top: 10px;
}

.van-details>h2>span {
  font-weight: normal;
  font-size: medium;
}

.van-details>button {
  background-color: var(--orange);
  margin-top: 10px;
}

/* HOST PAGE */

nav.host-page-nav {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px var(--default-padding) 45px;
}

.dashboard-welcome,
.income-section {
  padding: 37px var(--default-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.dashboard-welcome {
  background-color: #FFEAD0;
}

.dashboard-welcome div,
.income-section div,
.reviews-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.medium-text {
  font-weight: 700;
}

.dashboard-welcome .income {
  font-weight: 800;
  font-size: 48px;
}

.dashboard-review-score {
  background-color: #FFDDB2;
  padding: 45px var(--default-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-review-score>div,
.reviews-section>div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard-review-score>div>div,
.reviews-section>div>div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dashboard-review-score>div>h3,
.dashboard-listed-vans-header h3 {
  font-size: 24px;
}

.dashboard-listed-vans,
.income-section,
.reviews-section {
  padding: 40px var(--default-padding) 60px;
}

.dashboard-listed-vans-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.dashboard-vans-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dashboard-van {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 20px 25px;
  border-radius: 5px;
}

.dashboard-van-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dashboard-van-details img {
  height: 65px;
  width: 65px;
  object-fit: cover;
  border-radius: 5px;
}

.dashboard-van-details div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* LISTED VAN */
.listed-van-detail-section {
  padding: 0 var(--default-padding) 45px;
}

.listed-van-detail {
  background-color: var(--white);
  padding: var(--default-padding);
  border-radius: 5px;
}

.listed-van-short-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.listed-van-short-detail img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.listed-van-short-detail>div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.listed-van-short-detail>div>div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.listed-van-short-detail>div>div span {
  font-weight: normal;
}

.listed-van-nav {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 27px;
  margin-bottom: 27px;
}

.listed-van-full-detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.listed-van-pricing span {
  font-weight: 500;
  font-size: 24px;
}

.listed-van-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.listed-van-photos img {
  width: 100px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

/* LOGIN PAGE */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 190px);
  padding-inline: 27px;
  gap: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form>input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form>input:focus {
  outline: none;
}

.login-form>input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form>input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form>button {
  background-color: var(--orange);
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
}

.login-container a {
  color: var(--orange);
  font-weight: bold;
}